include ../mixins/header
include ../mixins/col

doctype html
html
    head
        title Hello AngularJS
        +header
        style(type='text/css').
            [ng\:cloak], [ng-cloak], .ng-cloak {
                display: none !important;
            }
    body.ng-cloak(ng-app='app', ng-cloak='')
        .container(ng-controller='mainCtrl')
            +col(6)
                uib-tabset
                    uib-tab(heading='Телефонная книга', select="tabClick('/')", avtive="currentPath === '/'")
                    uib-tab(heading='Войти' ng-show='!authenticated', select="tabClick('/log_in')", avtive="currentPath === '/log_in'")
                    uib-tab(heading='Регистрация' ng-show='!authenticated', select="tabClick('/register')", avtive="currentPath === '/register'")
                    uib-tab(heading='Выход' ng-show='authenticated', select="logout()")
                .container(ng-view='')