include ../mixins/header
include ../mixins/col

doctype html
html
    head
        title Телефонная книга
        +header
        style(type='text/css').
            [ng\:cloak], [ng-cloak], .ng-cloak {
                display: none !important;
            }
    body.ng-cloak(ng-app='app', ng-cloak='')
        .container(ng-controller='mainCtrl')
            +col(12)
                uib-tabset
                    uib-tab(ng-repeat='tab in tabs', heading='{{tab.title}}', ui-sref='{{tab.route}}', active="tab.active", disable="tab.disabled", select="tabClick()", ng-show="tab.visible")
                div(ui-view)