include ../mixins/header

doctype html
html
    head
        title Hello AngularJS
        +header
        style(type='text/css').
            [ng\:cloak], [ng-cloak], .ng-cloak {
                display: none !important;
            }
    body.ng-cloak(ng-app='hello', ng-cloak='')
        .container(ng-controller='navCtrl')
            ul.nav.nav-pills(role='tablist')
                li.active
                    a(href='#/') home
                li
                    a(href='#/register') Register
                li
                    a(href='#/log_in') login
                li(ng-show='authenticated')
                    a(href='', ng-click='logout()') logout

        .container(ng-view='')