.container(style="margin-top:20px;")
    .row
        .col-xs-8.col-xs-offset-2
            .input-group
                .input-group-addon Искать по:
                .input-group-btn.search-panel(uib-dropdown)
                    button#single-button.btn.btn-primary(type='button', uib-dropdown-toggle='', ng-disabled='disabled')
                        | {{curCondition.title}}
                        span.caret
                    ul.uib-dropdown-menu(role='menu', aria-labelledby='single-button')
                        li(role='menuitem', ng-repeat='(infex, condition) in searchConditions')
                            a(ng-click="setCondition(infex)") {{condition.title}}
                input.form-control(type='text', ng-model="searchValue")
                span.input-group-btn
                    button.btn.btn-default(type='button', ng-click="search()")
                        span.glyphicon.glyphicon-search



    h4 Список контактов
    button.btn.btn-default(ng-click='getAll()') Показать все записи
    table.table.table-bordered.table-hover.table-condensed
        tr(style='font-weight: bold')
            td(style='width:10%') Фамилия
            td(style='width:10%') Имя
            td(style='width:10%') Отчество
            td(style='width:10%') Моб. Телефон
            td(style='width:10%') Дом.телефон
            td(style='width:30%') Адрес
            td(style='width:10%') Email
            td(style='width:10%')
        tr(ng-repeat='(id, note) in notes')
            td
                span(editable-text='note.data.lastName', e-name='lastName', e-form='rowform', onbeforesave="checkName($data, 'Фамилия')", e-required)
                    | {{ note.data.lastName }}
            td
                span(editable-text='note.data.name', e-name='name', e-form='rowform', onbeforesave="checkName($data, 'Имя')", e-required)
                    | {{ note.data.name }}
            td
                span(editable-text='note.data.secondName', e-name='secondName', e-form='rowform', onbeforesave="checkName($data, 'Отчество')", e-required)
                    | {{ note.data.secondName }}
            td
                span(editable-text='note.data.phone', e-name='phone', e-form='rowform', onbeforesave='checkPhone($data, true)', e-required)
                    | {{ note.data.phone }}
            td
                span(editable-text='note.data.homePhone', e-name='homePhone', e-form='rowform', onbeforesave='checkPhone($data)')
                    | {{ note.data.homePhone }}
            td
                span(editable-text='note.data.address', e-name='address', e-form='rowform', onbeforesave='checkAddress($data)')
                    | {{ note.data.address }}
            td
                span(editable-text='note.data.email', e-name='email', e-form='rowform', onbeforesave='checkEmail($data)')
                    | {{ note.data.email }}
            td(style='white-space: nowrap')
                form.form-buttons.form-inline(editable-form='', name='rowform', onbeforesave='saveNote($data, $index)', ng-show='rowform.$visible', shown='inserted == note')
                    button.btn.btn-primary(type='submit', ng-disabled='rowform.$waiting')
                        | Сохранить
                    button.btn.btn-default(type='button', ng-disabled='rowform.$waiting', ng-click='rowform.$cancel()')
                        | Отмена
                .buttons(ng-show='!rowform.$visible')
                    button.btn.btn-primary(ng-click='rowform.$show()') Изменить
                    button.btn.btn-danger(ng-click='removeNote($index)') Удалить
    button.btn.btn-default(ng-click='addLocalNote()') Добавить
