mixin header
   script(src!='components/angular/angular.js')
   //script(src!='components/angular-ui-router/release/angular-ui-router.min.js')
   script(src!='components/angular-bootstrap/ui-bootstrap-tpls.js')
   script(src!='components/angular-route/angular-route.js')
   script(src!='components/angular-cookies/angular-cookies.js')
   //script(src!='app/main.js')
   //script(src!='app/mainCtrl.js')
   script(src!='app/hello.js')
   link(href!='components/bootstrap/dist/css/bootstrap.css', rel='styleSheet')
