mixin header
    link(href!='components/bootstrap/dist/css/bootstrap.css', rel='styleSheet')
    link(href!='components/angular-xeditable/dist/css/xeditable.css', rel='styleSheet')
    link(href!='components/table.css', rel='styleSheet')
    link(href!='components/signin.css', rel='styleSheet')
    script(src!='components/angular/angular.js')
    script(src!='components/angular-bootstrap/ui-bootstrap-tpls.js')
    script(src!='components/angular-ui-router/release/angular-ui-router.js')
    script(src!='components/angular-animate/angular-animate.js')
    script(src!='components/angular-cookies/angular-cookies.js')
    script(src!='components/angular-xeditable/dist/js/xeditable.js')
    script(src!='app/appConfig.js')
    script(src!='app/pbCtrl.js')
    script(src!='app/loginCtrl.js')
    script(src!='app/regCtrl.js')

