
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
  <form role="form" ng-submit="login()">
    <h2 class="form-signin-heading">Авторизация</h2>
    <label for="username" class="sr-only">Логин</label>
    <input id="username" type="text" name="username" placeholder="Логин" ng-model="credentials.username" class="form-control"/>
    <label for="password" class="sr-only">Пароль</label>
    <input id="password" type="password" name="password" placeholder="Пароль" ng-model="credentials.password" class="form-control"/>
    <button type="submit" class="btn btn-lg btn-primary btn-block">Войти</button>
  </form>
</div>