
<div style="margin-top:20px;" class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="input-group">
        <div class="input-group-addon">Искать по:</div>
        <div uib-dropdown="uib-dropdown" class="input-group-btn search-panel">
          <button id="single-button" type="button" uib-dropdown-toggle="" ng-disabled="disabled" class="btn btn-primary">{{curCondition.title}}<span class="caret"></span></button>
          <ul role="menu" aria-labelledby="single-button" class="uib-dropdown-menu">
            <li role="menuitem" ng-repeat="(infex, condition) in searchConditions"><a ng-click="setCondition(infex)">{{condition.title}}</a></li>
          </ul>
        </div>
        <input type="text" ng-model="searchValue" class="form-control"/><span class="input-group-btn">
          <button type="button" ng-click="search()" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button></span>
      </div>
    </div>
  </div>
  <h4>Список контактов</h4>
  <button ng-click="getAll()" class="btn btn-default">Показать все записи</button>
  <table class="table table-bordered table-hover table-condensed">
    <tr style="font-weight: bold">
      <td style="width:10%">Фамилия</td>
      <td style="width:10%">Имя</td>
      <td style="width:10%">Отчество</td>
      <td style="width:10%">Моб. Телефон</td>
      <td style="width:10%">Дом.телефон</td>
      <td style="width:30%">Адрес</td>
      <td style="width:10%">Email</td>
      <td style="width:10%"></td>
    </tr>
    <tr ng-repeat="(id, note) in notes">
      <td><span editable-text="note.data.lastName" e-name="lastName" e-form="rowform" onbeforesave="checkName($data, 'Фамилия')" e-required="e-required">{{ note.data.lastName }}</span></td>
      <td><span editable-text="note.data.name" e-name="name" e-form="rowform" onbeforesave="checkName($data, 'Имя')" e-required="e-required">{{ note.data.name || 'empty' }}</span></td>
      <td><span editable-text="note.data.secondName" e-name="secondName" e-form="rowform" onbeforesave="checkName($data, 'Отчество')" e-required="e-required">{{ note.data.secondName }}</span></td>
      <td><span editable-text="note.data.phone" e-name="phone" e-form="rowform" onbeforesave="checkPhone($data, true)" e-required="e-required">{{ note.data.phone }}</span></td>
      <td><span editable-text="note.data.homePhone" e-name="homePhone" e-form="rowform" onbeforesave="checkPhone($data)">{{ note.data.homePhone }}</span></td>
      <td><span editable-text="note.data.address" e-name="address" e-form="rowform" onbeforesave="checkAddress($data)">{{ note.data.address }}</span></td>
      <td><span editable-text="note.data.email" e-name="email" e-form="rowform" onbeforesave="checkEmail($data)">{{ note.data.email }}</span></td>
      <td style="white-space: nowrap">
        <form editable-form="" name="rowform" onbeforesave="saveNote($data, $index)" ng-show="rowform.$visible" shown="inserted == note" class="form-buttons form-inline">
          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">Сохранить</button>
          <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">Отмена</button>
        </form>
        <div ng-show="!rowform.$visible" class="buttons">
          <button ng-click="rowform.$show()" class="btn btn-primary">Изменить</button>
          <button ng-click="removeNote($index)" class="btn btn-danger">Удалить</button>
        </div>
      </td>
    </tr>
  </table>
  <button ng-click="addLocalNote()" class="btn btn-default">Добавить</button>
</div>