
<form class="form-horizontal">
  <fieldset>
    <div id="legend">
      <legend>Регистрация</legend>
    </div>
    <div class="control-group">
      <!-- Login-->
      <label for="login" class="control-label">Логин</label>
      <div class="controls">
        <input id="login" type="text" name="login" placeholder="" ng-model="login" value="valshin" class="input-xlarge"/>
        <p class="help-block">Минимум 3 символа, без спецсимволов</p>
      </div>
    </div>
    <div class="control-group">
      <!-- Fio-->
      <label for="fio" class="control-label">ФИО</label>
      <div class="controls">
        <input id="fio" type="text" name="fio" placeholder="ФИО" ng-model="fio" value="valeryshin" class="input-xlarge"/>
        <p class="help-block">Минимум 5 символов</p>
      </div>
    </div>
    <div class="control-group">
      <!-- Password-->
      <label for="password" class="control-label">Пароль</label>
      <div class="controls">
        <input id="password" type="password" name="password" placeholder="" ng-model="password" class="input-xlarge"/>
        <p class="help-block">Минимум 5 символов, долен содерать минимум 1 заглавную букву и 1 цифру</p>
      </div>
    </div>
    <div class="control-group">
      <!-- Password-->
      <label for="password_confirm" class="control-label">Пароль (подтверждение)</label>
      <div class="controls">
        <input id="password_confirm" type="password" name="password_confirm" placeholder="" ng-model="password_confirm" class="input-xlarge"/>
        <p class="help-block">Подтверждение пароля</p>
      </div>
    </div>
    <div class="control-group">
      <!-- Button-->
      <div class="controls">
        <button ng-click="send()" class="btn btn-success">Зарегистрироваться</button>
        <!-- <button class="btn btn-success" type="submit">Зарегистрироваться</button>-->
      </div>
    </div>
  </fieldset>
</form>
<div ng-repeat="e in error" class="alert alert-danger"><strong>{{e.msg}}</strong></div>
<div ng-show="success" class="alert alert-success"><strong>Вы успешно зарегистрированы</strong></div>