<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example </title>
        <link href="components/bootstrap/dist/css/bootstrap.css" rel="styleSheet"/>
        <link href="components/signin.css" rel="styleSheet"/>
    </head>
    <body>
		<div class="container">
			<div th:if="${param.error}">
				Неверный логин или пароль.
			</div>
			<div th:if="${param.logout}">
			    Вы успешно вышли из системы.
			</div>
			<form class="form-signin" th:action="@{/login}" method="post">
			  <h2 class="form-signin-heading">Авторизация</h2>
			  <label for="username" class="sr-only">Логин</label>
			  <input type="text" name="username" id="username" class="form-control" placeholder="Логин"/>
			  <label for="password" class="sr-only">Пароль</label>
			  <input type="password" name="password" id="password" class="form-control" placeholder="Пароль"/>
			  <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
			  <a href="register" role="button" class="btn btn-lg btn-primary btn-block">Регистрация</a>
			</form>
			
	    </div>
    </body>
</html>