<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
    <link href="components/bootstrap/dist/css/bootstrap.css" rel="styleSheet"/>
    <link href="components/signin.css" rel="styleSheet"/>
    <script src="components/angular/angular.js"></script>
    <script src="app/regCtrl.js"></script>
</head>
<body style="padding-left: 20px;" ng-app="app" ng-controller="regCtrl">
<!--<form class="form-horizontal" action='/register/add' method="POST">-->
<form class="form-horizontal">
    <fieldset>
        <div id="legend">
            <legend class="">Регистрация</legend>
        </div>
        <div class="control-group">
            <!-- Login -->
            <label class="control-label" for="login">Логин</label>

            <div class="controls">
                <input type="text" id="login" name="login" placeholder="" class="input-xlarge" ng-model="login" value="valshin"/>

                <p class="help-block">Минимум 3 символа, без спецсимволов</p>
            </div>
        </div>


        <div class="control-group">
            <!-- Fio -->
            <label class="control-label" for="fio">ФИО</label>

            <div class="controls">
                <input type="text" id="fio" name="fio" placeholder="ФИО" class="input-xlarge" ng-model="fio" value="valeryshin"/>

                <p class="help-block">Минимум 5 символов</p>
            </div>
        </div>

        <div class="control-group">
            <!-- Password-->
            <label class="control-label" for="password">Пароль</label>

            <div class="controls">
                <input type="password" id="password" name="password" placeholder="" class="input-xlarge" ng-model="password"/>

                <p class="help-block">Минимум 5 символов, долен содерать минимум 1 заглавную букву и 1 цифру</p>
            </div>
        </div>

        <div class="control-group">
            <!-- Password -->
            <label class="control-label" for="password_confirm">Пароль (подтверждение)</label>

            <div class="controls">
                <input type="password" id="password_confirm" name="password_confirm" placeholder="" ng-model="password_confirm" class="input-xlarge"/>

                <p class="help-block">Подтверждение пароля</p>
            </div>
        </div>

        <div class="control-group">
            <!-- Button -->
            <div class="controls">
                <button class="btn btn-success" ng-click="send()">Зарегистрироваться</button>
                <!--<button class="btn btn-success" type="submit">Зарегистрироваться</button>-->
            </div>
        </div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" id="csrf"/>
    </fieldset>
</form>
</body>
</html>